<!DOCTYPE html>
<html>
  <head>
    <title>ResumeStudentPortal</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <p>CURRENT USER ID: <%= current_user.id %></p>
    <%= yield %>
  </body>
</html>
